<div class="container">
  <mat-card>
    <div class="header">
      <mat-card-header>
        <mat-card-title>{{column.title}}</mat-card-title>
      </mat-card-header>
    </div>
    <div class="content">
      <mat-card-content>
        <p>
          <kb-board-task></kb-board-task>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum harum ipsa natus quis, reiciendis repellat sit. Enim ipsam nulla praesentium quisquam. Beatae corporis fugit impedit libero necessitatibus reiciendis repellendus.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>


