<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{columnTitle.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum harum ipsa natus quis, reiciendis repellat sit. Enim ipsam nulla praesentium quisquam. Beatae corporis fugit impedit libero necessitatibus reiciendis repellendus.
    </p>
  </mat-card-content>
</mat-card>

