.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(48, 42, 42);
  padding: 15px;
  height: 100%;
}
.content{
  padding: 5px;
}
.kb-board-colum {
  flex-basis: auto;
  height: 100%;
  font-size: 15px;
  min-width: 300px;
  border-radius: 5px;
  padding: 55px;
}
