<mat-dialog-content>
  <div>Column status</div>
</mat-dialog-content>
<mat-dialog-actions class="container">
  <form class="content" #form="ngForm" (ngSubmit)="submitForm(form)">
    <mat-form-field class="form-group">
      <mat-label>Text input</mat-label>
      <input
        matInput
        class="form-control"
        name="textInput"
        type="text"
        ngModel
      >
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Textarea</mat-label>
      <textarea
        matInput
        type="texta"
        class="form-control"
        name="textArea"
        ngModel
      ></textarea>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>
        Status
        <!--{{columns[0].status}}-->
      </mat-label>
      <mat-select
        placeholder="status To Do"
        class="form-control"
        type="texts"
        name="colStatus"
        ngModel
      >
        <mat-option value="To do">To do</mat-option>
        <mat-option value="In progress">In progress</mat-option>
        <mat-option value="Done">Done</mat-option>
        <mat-option value="delete">delete</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button (click)="addClick(form)" type="submit" cdkFocusInitial>Add</button>
    </div>
  </form>


</mat-dialog-actions>
