//todo: найти ипользование фона в англяр/материал
//@use "sass:map";
//@use '@angular/material' as mat;

*{box-sizing: border-box;}
html, body{height: 100%}
body{margin: 0;font-family: Roboto,"Helvetica Neue", sans-serif}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.mat-toolbar {
  height: 56px;
  padding: 4px 16px;
  position: sticky;
}

.container {
  background-color: #424242;
  width: 100%;
  top: 64px;
  height: calc(100% - 64px);
  position: fixed;
  float: left;
}

